@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --error: 239 68 68;
  --accent: 15 103 177;
  --accent: 90 24 154;
  --fg-color: 30 30 30;
  --black-stroke: 0 0 0;
  --bg-color: 255 255 255;
  --white-stroke: 255 255 255;
}

:root.dark {
  --bg-color: 25 25 25;
  --fg-color: 200 200 200;
}

